@CHARSET "UTF-8";

.purchases_block {
	position: relative;
	padding: 0.75% 1%;
	margin: 10px 5px;
	background: yellow;
	display: inline-block;
	height:475px;
	vertical-align: bottom;
}

.purchases_block img.main_poster {
	width: 240px;
	min-height: 150px;
	max-height: 320px;
	border: solid black;
	margin: 10px auto;
	background: none;
	display: block;
}

.purchases_block .cost{
	position:absolute;
	margin-left:5%;
	bottom:3%;
	left:0%;
}

.purchases_block h2{
	margin-left:5%;
	height:12.5%;
	width:200px;
}

.purchases_block form.remove {
	position: absolute;
	top: 1%;
	right: 1%;
}

.purchases_block form.remove button:hover {
	
}

#buy {
	width: 400px;
	border: solid 1px black;
	padding: 5px;
	position:absolute;
	bottom:2.5%;
	left:1.5%;
}

#buy table{
	width:100%;
}

#buy label{
	margin-right:10%;
	min-width:50%;
}

#buy input{
	height:20px;
	padding-left:7px; 
}

#clear_cart{
	position: absolute;
	bottom:2.5%;
	left:35%;
}

#clear_cart input[type=submit]{
	display:block;
	margin:0 auto;
	width:75px;
	height:25px;
}

#buy input[type=submit] {
	display:block;
	margin:0 auto;
	width:50px;
	height:25px;
}

#container-content-4 {
	position:relative;
	margin: 20px auto 50px auto;
	padding: 25px;
	background: url("../textures/texture-main.png") top left repeat;
	min-height: 750px;
}